Repository garyjeong/household-ledger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-developer, @frontend-team, @backend-team, @dba-team, @devops-team, @docs-team, @qa-team, @security-team

fix: Vooster 테스트 구축 마무리
  CODE_REVIEW_CHECKLIST.md
  CURSOR-RULE.md
  DEVELOPMENT_WORKFLOW.md
  FUNCTION.md
  GOAL.md
  PERFORMANCE_OPTIMIZATION.md
  PROMPT-GUIDE.md
  STYLE_GUIDE.md
  cookies.txt
  package.json
  pnpm-lock.yaml
  sentry.server.config.ts
  src/app/api/auth/profile/route.ts
  src/app/api/balance/route.ts
  src/app/api/recurring-rules/[id]/route.ts
  src/app/api/recurring-rules/route.ts
  src/app/api/transactions/quick-add/route.ts
  src/app/categories/page.tsx
  src/app/groups/page.tsx
  src/app/ledger/page.tsx
Owners: @lead-developer, @docs-team, @devops-team, @security-team, @backend-team, @frontend-team

chore: 마크다운 내용 업데이트
  .env.local
  DEVELOPMENT.md
  README.md
  SETUP.md
  STATUS.md
Owners: @lead-developer, @backend-team, @docs-team

feat: JWT 인증 설정, API 오류 수정, 모니터링 시스템 추가 및 문서 정리 완료
  .env.local
  .playwright-mcp/mobile-view.png
  .playwright-mcp/statistics-page-full.png
  CHANGELOG.md
  DEVELOPMENT.md
  DEVELOPMENT_WORKFLOW.md
  FUNCTION.md
  PROJECT_STATUS.md
  PROMPT-GUIDE.md
  README.md
  SECURITY.md
  SENTRY_SETUP.md
  SETUP.md
  STATUS.md
  STYLE_GUIDE.md
  TODO.md
  src/app/api/categories/route.ts
  src/app/api/dashboard/monthly-stats/route.ts
  src/app/api/health/route.ts
  src/app/api/metrics/route.ts
  src/app/api/statistics/route.ts
  src/app/page.tsx
  src/components/couple-ledger/MonthlyDashboard.tsx
  src/components/ui/error-display.tsx
  src/components/ui/loading-skeleton.tsx
  src/components/ui/loading-spinner.tsx
  src/lib/schemas/category.ts
  tests/components/error-display.test.tsx
  tests/components/loading-components.test.tsx
Owners: @lead-developer, @backend-team, @docs-team, @frontend-team, @qa-team

test: pre-commit hook 테스트
  test-pre-commit.js
Owners: @lead-developer

test: 테스트 파일 삭제
  test-pre-commit.js
Owners: @lead-developer

remove: pre-commit hook 및 lint-staged 제거
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  test-no-precommit.js
Owners: @lead-developer

clean: 테스트 파일 정리
  test-no-precommit.js
Owners: @lead-developer

fix: 미사용 데이터베이스 모델 및 컴포넌트 제거로 프로젝트 구조 간소화
  STATUS.md
  prisma/schema.prisma
  src/app/api/recurring-rules/[id]/route.ts
  src/app/api/recurring-rules/route.ts
  src/app/settings/recurring-expenses/page.tsx
  src/components/couple-ledger/CoupleSplitToggle.tsx
  src/components/recurring-expenses/RecurringExpenseDialog.tsx
  src/components/recurring-expenses/RecurringExpenseForm.tsx
  src/components/recurring-expenses/RecurringExpenseList.tsx
  src/types/couple-ledger.ts
  tests/api/recurring-rules.test.ts
  tests/components/recurring-expenses.test.tsx
Owners: @docs-team, @backend-team, @dba-team, @frontend-team, @qa-team

fix: 불필요한 파일 및 디렉토리 정리
  shrimp-data/tasks.json
Owners: @lead-developer

fix: 비밀번호 입력 필드의 눈 버튼 정렬 및 스타일 개선
  src/app/forgot-password/page.tsx
  src/app/login/page.tsx
  src/app/signup/page.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Code Owners for 우리가족가계부 프로젝트

# Global owners - 모든 파일에 대한 기본 리뷰어
* @lead-developer

# Frontend Code - 사용자 인터페이스 관련
/src/app/ @frontend-team
/src/components/ @frontend-team  
/src/contexts/ @frontend-team
/src/hooks/ @frontend-team
/src/stores/ @frontend-team

# Styling & Assets
/src/app/globals.css @frontend-team
/public/ @frontend-team

# Backend Code - API 및 서버 로직
/src/app/api/ @backend-team
/src/lib/ @backend-team
/src/middleware.ts @backend-team

# Database & Schema
/prisma/ @backend-team @dba-team
*.sql @backend-team @dba-team

# Type Definitions - 전체 팀 검토 필요
/src/types/ @frontend-team @backend-team

# Configuration Files - DevOps 및 리드 검토
next.config.ts @lead-developer @devops-team
package.json @lead-developer
pnpm-lock.yaml @lead-developer
tsconfig.json @lead-developer
tailwind.config.ts @frontend-team

# Linting & Code Quality
eslint.config.mjs @lead-developer
.prettierrc @lead-developer
jest.config.js @lead-developer

# Monitoring & Error Handling
/src/lib/error-handler.ts @backend-team @lead-developer
sentry.*.config.ts @devops-team @lead-developer

# CI/CD & DevOps
/.github/ @devops-team @lead-developer
/docker/ @devops-team
Dockerfile @devops-team
docker-compose.yml @devops-team

# Security & Environment
.env.example @lead-developer @backend-team
.env.local @lead-developer @backend-team

# Documentation - 문서팀 및 해당 영역 전문가
*.md @docs-team
README.md @lead-developer @docs-team
DEVELOPMENT_WORKFLOW.md @lead-developer @docs-team
CODE_REVIEW_CHECKLIST.md @lead-developer @docs-team

# Testing
/tests/ @qa-team @backend-team @frontend-team
/playwright.config.ts @qa-team @devops-team
/vitest.config.ts @qa-team @backend-team

# Specific Features - 도메인별 전문가
/src/app/api/auth/ @security-team @backend-team
/src/lib/auth.ts @security-team @backend-team
/src/components/error/ @backend-team
/src/components/balance/ @backend-team @frontend-team
/src/components/transactions/ @backend-team @frontend-team
